<div class='container'>
      <%= render partial:"shared/error" %>


    <h1>List your property</h1>
    <%= render 'form', listing: @listing %>
    <%= link_to 'back to listings', host_listings_path %>

</div>