
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-md-3">
            <section>
                <h6 style="margin-left: 40px;">Clairbnb</h6>
                <ul style="list-style: none;">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Policies</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </section>
        </div>
        <div class="col-md-3">
            <section>
                <h6 style="margin-left: 40px;">Discover</h6>
                <ul style="list-style: none;">
                    <li><a href="#">Trust & Safety</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </section>
        </div>
        <div class="col-md-3">
            <section>
                <h6 style="margin-left: 40px;">Hosting</h6>
                <ul style="list-style: none;">
                    <li><a href="#">Why Host</a></li>
                    <li><a href="#">Responsible Hosting</a></li>
                    <li><a href="#">Open Homes</a>&emsp;<a href="#"><button type="button" class="btn btn-primary new">New</button></a></li>
                </ul>
            </section>
        </div>
        <div class="col-md-3">
            <section>
                <h5 style="margin-left: 40px;">
                <a href="#" style="color: #636e72;"><i class="fa fa-facebook" style="padding-right: 15px;"></i></a>
                <a href="#" style="color: #636e72;"><i class="fa fa-twitter" style="padding-right: 15px;"></i></a>
                <a href="#" style="color: #636e72;"><i class="fa fa-instagram" style="padding-right: 15px;"></i></a>
                </h5>
                <ul style="list-style: none;">
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>