
<form action="<%= listing_reservations_path(@listing) %>" method="post" data-turbo="false">
  <input type="date" name="reservation[start_date]">
  <input type="date" name="reservation[end_date]">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="reservation[listing_id]" value="<%= @listing.id %>">
  <input type="submit" value="Reserve",  data: { turbo: false } >
</form>
