<!-- app/views/reservations/show.html.erb -->
  <h1> <%= @listing.title %></h1>

<h1>Reservation Details</h1>

<pre><%= JSON.pretty_generate(@reservation.as_json) %></pre>

<%= link_to "Cancel Reservation", cancel_reservation_listing_reservation_path(@listing, @reservation), method: :post, data: { confirm: "Are you sure you want to cancel this reservation?" } %>
